<mat-toolbar-row class="w-full flex flex-row align-middle items-center gap-x-4 px-4">
    <a class="hover:bg-slate-400 p-2 rounded-lg" routerLink="">Home</a>
    <a class="hover:bg-slate-400 p-2 rounded-lg" routerLink="modifyboard/create">Create Board</a>
    <a class="hover:bg-slate-400 p-2 rounded-lg" routerLink="modifyboard/import">Import Board</a>
    <a class="hover:bg-slate-400 p-2 rounded-lg" routerLink="modifyboard/remove">Remove Board</a>
    <a class="hover:bg-slate-400 p-2 rounded-lg ml-auto">Hide</a>
</mat-toolbar-row>