<form [formGroup]="childForm">
    <div class="flex flex-row mt-2 gap-x-2">
        <p>Name:</p>
        <input type="text" formControlName="commandName" class="formBackground ml-2">
        <div *ngIf="nameField.hasError('required') && nameField.dirty">
            <p>Error: Name is required</p>
        </div>
    </div>

    <div class="flex flex-row mt-2 gap-x-2">
        <p>Trigger:</p>
        <select formControlName="commandTrigger" class="formBackground ml-2">
            <option selected value="Manual">Manual (Default, only option)</option>
        </select>
    </div>
</form>