<form [formGroup]="childForm">
    <div class="flex flex-row gap-x-2">
        <p>Media:</p>
        <input type="text" formControlName="mediaName" class="formBackground ml-2">
        <div *ngIf="mediaField.hasError('required') && mediaField.dirty">
            <p>Error: Media name is required</p>
        </div>
    </div>
    <div class="flex flex-row gap-x-2 mt-2">
        <p>Type:</p>
        <select formControlName="mediaType" class="formBackground ml-2">
            <option value="soundEffect">Sound Effect</option>
            <option value="imageGif">Image / GIF / Static</option>
            <option value="video">Video</option>
        </select>
    </div>
</form>