<div class="p-4 text-lg font-normal text-center">
    <p>Glimboard is a webapp which functions similiar to a streamdeck.</p>
    <p>Users create boards. Each board has an unlimited amount of buttons. Each button can perform instructions which automate things for your stream.</p>
    <p>These are similiar to actions in Glimboi commands. All instructions require the bot to be active and have the HTTP server running.</p>
    <p>If the app cannot connect to the board many features will not save or work at all!</p>
    <p>Although the app can be used on multiple devices at the same time this is not suggested.</p>

    <p class="mt-12">A button has several options. Press the rocket 🚀 to use the button's instructions.</p>
    <p>Press the pencil ✏️ and then the edit button to manually change the button's properties.</p>
    <p>The trashcan icon 🗑️ deletes a button.</p>
    <p>You can drag and resize a button by using the bottom right corner or clicking and dragging.</p>

    <h2 class="mt-12">Connection Info</h2>
    <p>Enter the information to connect to your Glimboi server. If you are connecting from the save device as Glimboi it will simply be localhost</p>
    <p>If you are on a different device it will be the private IP address of the PC running Glimboi. This is usually 192.168.x.x</p>
    <p>The port will automatically be added. <strong>Do not add http://</strong></p>

    <input type="url" class="formBackground m-1 p-1" style="border: solid aquamarine 2px" placeholder="{{savedURL}}" #url />
    <button class="bg-green-500 text-white rounded-xl self-center p-2"  (click)="saveURL(url.value)">Save</button>
</div>