<div class="p-4 text-lg font-normal text-center">
    <p>Glimboard is a webapp which functions similiar to a streamdeck.</p>
    <p>Users create boards. Each board has an unlimited amount of buttons. Each button can perform instructions which automate things for your stream.</p>
    <p>These are similiar to actions in Glimboi commands. All instructions require the bot to be active and have the HTTP server running.</p>
    <p>If the app cannot connect to the board many features will not save or work at all!</p>
    <p>Although the app can be used on multiple devices at the same time this is not suggested.</p>
</div>