<div
    class=" flex items-center justify-center text-center p-4 bg-blue-500 border border-solid border-blue-400 h-full w-full"
    >
    <div class="absolute top-1">
        <h1>{{button.name}}</h1>
    </div>

    <div class="absolute right-2 bottom-1">
        <p>W: {{button.w}}</p>
        <p>H: {{button.h}}</p>
    </div>

    <div (click)="click()" title="Run Button!" class="cursor-pointer">
        🚀
    </div>

    <div class="absolute left-2 bottom-1 cursor-pointer" (click)="delete()" title="Delete Button">
        🗑️
    </div>

    <div class="absolute left-2 top-1 cursor-pointer" (click)="edit()" title="Edit Button">
        ✏️
    </div>
</div>