<p>Add a button!</p>
<form [formGroup]="buttonForm" (submit)="submit()" class="text-xl font-semibold flex flex-col gap-4 mt-2">
    <div class="flex flex-row gap-x-2">
        <p>Name:</p>
        <input formControlName="name" class="formBackground">
        <div *ngIf="nameField.hasError('required') && nameField.dirty">
            <p>Error: Name is required</p>
        </div>
    </div>

    <h3>Button Dimentions</h3>
    <app-dimensions [childForm]="getDimensionForm()"></app-dimensions>

    <h3>Button Instructions</h3>
    <p>Choose any amount of instructions</p>
    <app-instruction *ngFor="let childForm of instructionAray.controls; let i = index;" [childForm]="childForm | cast"
        (deleteEvent)="deleteChild($event)" [index]="i">
    </app-instruction>
    <button (click)="addInstruction()" [disabled]="!buttonForm.valid"
        class="bg-blue-500 text-white rounded-xl self-center p-2">Add Instruction</button>

    <p>Results (DEBUG): </p>
    <p class="mt-2">{{buttonForm.value | json}}</p>
</form>