@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1b2e4b !important;
}

* {
    color: aliceblue;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
